<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>Guard</title>
    <link rel="shortcut icon" href="./assets/images/icons/favicon.ico" type="image/x-icon">
    <%# index.css injected here by HTML webpack plugin %>
  </head>
  <body>
    <div id='container' class='container'>
      <main>
        <noscript>
          <h1>Please enable JavaScript on your device to use the Guard app.</h1>
        </noscript>
      </main>
    </div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch"></script>
    <%# vendors.js injected here by HTML webpack plugin %>
    <%# index.js injected here by HTML webpack plugin %>
  </body>
</html>
